img {
  max-width: 100%;
}
.ad {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 500;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

// Latest Collections section
// .main-pic {
//   padding: 30px;
// }

// Footer
footer {
  height: auto !important;
}
