* {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

// Variables
$fw-4: 400;

img {
  max-width: 100%;
}
.ad {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 500;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

// Toolbar
.logo {
  span {
    font-family: "Pacifico", cursive;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

// Latest Collections section
// .main-pic {
//   padding: 30px;
// }

// Call to Action
.cta {
  p {
    font-size: 14px;
    font-weight: 400;
  }
  span {
    font-size: 16px;
    font-weight: 700;
    a {
      font-weight: 600;
    }
  }
}

// Footer
footer {
  height: auto !important;
}
